@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.navbar{
  border-bottom: 1px solid #000000;
}
.navbar-item{
  font-family: Quicksand, sans-serif;
  font-weight: bolder;
}
