<!DOCTYPE html>
<html>
<head>
<title>Courses</title>
<link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>
 
<body class = "bg-info">
 
 
<div align="center">
<!-- Inserting the image -->
<img src="/static/Capture.png" alt="Logo">
</div>
 
 
 
 
<div class="row">
 
 
<div class="col-md-6 offset-md-3" style="background-color: #fff; margin-top: 40px; padding:20px;">
<!-- retrieving HTML String from the child Views -->
{{{body}}}
</div>
 
 
</div>
 
 
</body>
</html>