@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
.head-box{
    background: linear-gradient(90deg, #F8ED98 0%, rgba(255, 108, 63, 0.94) 100%);
    border-radius: 25px;
    font-family: Quicksand, sans-serif;
    margin-top: 2vw;
    color: #000000;

}

.head-title{
    font-family: Quicksand, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 9vw;
    line-height: 187px;

    color: #000000;


}
.rating-circle{
    margin-left: 25px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: #FDF39B;
    display: flex;
}
.circle-text{
    font-family: Quicksand, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.6vw;
    text-align: center;
    margin: auto;
    color: #000000;
}