.prof-box{
    border-radius: 25px;
    border: 0.5px #1f1f1f solid;
    font-family: Quicksand, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5vw;
    margin-top: 3vw;
}
.prof-rating-circle{
    margin-left: 25px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: #A0BAFE;
    display: flex;
}
.prof-circle-text{
    font-family: Quicksand, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.6vw;
    text-align: center;
    margin: auto;
    color: #000000;
}
.prof-title{
    font-family: Quicksand, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 2.5vw;
    line-height: 2.8vw;
    padding-bottom: 3vw;
    color: #000000;


}