<!-- Obtaining value from the course controller -->
 
<h3>{{viewTitle}}</h3>
<form action="/professor" method="POST">
<input type="hidden" name="_id" value="{{course._id}}">
 
<div class = "form-group">
<label>Professor Name</label>
<input type="text" maxlength="100" class="form-control" name="Name" placeholder="Professor Name" value="{{professor.Name}}">
</div>
<div class = "form-group">
<label>Professor Description</label>
<input type="text" maxlength="1000" class="form-control" name="Description" placeholder="Professor Description" value="{{professor.Description}}">
</div>
<div class="form-group">
<button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
<a class="btn btn-secondary" href="/professor/list"><i class="fa fa-list-alt"></i> View All Professors</a>
</div>
</form>